[2021-10-05 19:04] ashishdhingra commented on #189
Hi @CrescentFresh,

Good afternoon.

After reviewing this issue,
- There appears to be no support for `--skip-image-push` option for `lambda deploy-function` (refer [LambdaDefinedCommandOptions](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/src/Amazon.Lambda.Tools/LambdaDefinedCommandOptions.cs)).
- The `--skip-image-push` is only supported in `Amazon.ECS.Tools` (`dotnet ecs`),

[2021-11-03 00:09] #121 closed

[2021-11-09 20:41] battarro opened #191 "Latest version 5.2.0 is not deploying code correctly"
## Description
after upgrading to 5.2.0 this morning, my deployment scripts started failing. They no longer would detect any change that I would make on my c# code.

the Cli basically stop running the dotnet publish command.

## Reproduction Steps
[code]

### Logs

[code]
Ok so that out put is incorrect. It does not run the dotnet publish as before.

I went ahead and downgraded

[code]

then I ran

[2021-11-10 20:26] ganeshnj commented on #191
I just tried to reproduce the issue on my end but I couldn't.

I can deploy and re-deploy a serverless app without any trouble and new changes are also picked up on the redploy.

deploy logs
[code]
redeploy logs
[code]

Can you share following to help us understanding the issue
- Sample project that reproduces the issue consistently
- `dotnet --info` logs

[2021-11-11 10:02] timdinh opened #192 "Supporting Apple Silicon M1 ARM Architecture"
We get the following error when issuing the command `dotnet lambda` on Apple M1 machine

[code]

The machine has the following dotnet SDKs and runtimes installed

[code]

## Describe the Feature
Add support so that the command `dotnet lambda` run without error on Apple M1 machine

### Is your Feature Request related to a problem?
see above

### Describe alternatives you've considered
There are no

[2021-11-11 10:13] timdinh commented on #192
I was able to follow the instruction at https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/CONTRIBUTING.md and create a working version. Thanks.

[2021-11-19 00:10] #191 closed

[2021-11-20 05:30] normj commented on #192
I have tested the `Amazon.Lambda.Tools` in my Apple M1 machine and it works for me but I think that is because I have just .NET 6 installed. I suspect having the 3.1 SDK also installed is getting things confused because currently the shipped tool is targeting .NET Core 2.1 and the 3.1 is the closest match and is being used.

I'm in the process of pushing out a new version of the tool that will tar

[2021-12-02 14:29] Dreamescaper opened #195 "'package' command should be able to create deterministic zip archives"
We create zip archives for our lambdas using "dotnet lambda package" command, and then use "cdk deploy" to deploy them to our environments. Currently this has an issue - created zip archives contain timestamps, therefore those archives are different for each build, and therefore CDK deploys them each time even if nothing is changed.

As a workaround, currently we provide custom AssetHash (based on

[2021-12-04 01:07] timdinhdotcom opened #196 "Deploying existing docker image"
If I ran the command below, it will build a docker image then push it to ECR and perform other steps.
[code]

I have a project which I must use `docker buildx build .` command to create a docker image. Is there a way to tell `deploy-serverless` to use existing image instead?

## Describe the Feature

Allow user to specify an existing image when deploying lambda serverless with the command `dotnet

[2021-12-14 00:41] asgeirgs opened #197 "Ignores self-contained parameter in config file"
## Description
Both the self-contained and runtime parameters in a json config file seam to be ignored when trying to deploy to an AWS EB windows platform using this config file:
`{
"additional-options" : "",
"application"        : "myApp",
"app-path"           : "/",
"configuration"      : "Release",
"enable-xray"        : false,
"enhanced-health-type" : "enhanced",
"environment"          : "myAp

[2021-12-20 22:20] starkcolin opened #198 "Incorrect options for push-image in 5.2.0"
## Description
The Docker-specific options are missing from the push-image command in 5.2.0

## Reproduction Steps
Output from dotnet lambda push-image --help in 5.2.0:
[code]

Output from 5.1.4:
[code]

The issue is not simply with the help text - the missing options do not work either.  For example, the `--image-tag` option is ignored, and always defaults to `project-name:latest`.

### Environme

[2021-12-21 23:55] aaoswal commented on #198
Reproducible using customer's instructions.

[2021-12-25 00:10] #99 closed

[2022-01-02 18:25] lukeemery opened #199 "JsonPath"
### Description
Template substitutions use JSONPath, which supports adding filters.  Filters may include operators such as the equal sign.  The underlying key-value utility will break on every = and ;

Reproduce using `dotnet lambda package-ci --output-template test.json --template-substitutions "$.Resources.*.[?(@.Type =~ 'AWS::Serverless::Function')].Properties=test"`

Newtonsoft support doc: ht

[2022-01-13 18:14] ashishdhingra commented on #197
Looks like `--self-contained` parameter is only read for non-windows based images if not already present as part of `--publish-options` parameter as per code https://github.com/aws/aws-extensions-for-dotnet-cli/blob/cdd490450e0407139d49248d94a4a899367e84df/src/Amazon.ElasticBeanstalk.Tools/Commands/DeployEnvironmentCommand.cs#L160

@asgeirgs Could you please try passing `--self-contained` as part

[2022-01-13 23:11] asgeirgs commented on #197
@ashishdhingra calling `dotnet eb deploy-environment --profile xxx -env yyyy --publish-options --self-contained` results in
_error NETSDK1031: It is not supported to build or publish a self-contained application without specifying a RuntimeIdentifier. You must either specify a RuntimeIdentifier or set SelfContained to false._

Are you able set multiple options using the `--publish-options` option

[2022-01-13 23:22] ashishdhingra commented on #197
@asgeirgs Could you try specifying value for `--publish-options` as a string enclosed in double quotes, e.g., "--self-contained true" or ""--self-contained true"" where you should be able to specify multiple values.

[2022-01-14 21:33] ashishdhingra commented on #180
Hi @macfarmw,

Good afternoon.

Looks like the issue has been fixed in the `AWS Toolkit for Visual Studio` version `1.24.0.0`:

<img width="882" alt="Screen Shot 2022-01-14 at 1 27 57 PM" src="https://user-images.githubusercontent.com/67916761/149587895-e7c50d97-94e9-4a98-abb3-d0ea6a2833e5.png">

Used the below template (taken from https://docs.aws.amazon.com/serverless-application-model/latest/de

[2022-01-14 23:12] macfarmw commented on #180
@ashishdhingra Thanks for the update. I won't be able to test and confirm this. I'm no longer working on the project or company where this was happening. It's pretty clear though based on your screen shot that it's fixed.

[2022-01-14 23:12] #180 closed

[2022-01-14 23:57] asgeirgs commented on #197
Thanks @ashishdhingra. These two version of the command:
`dotnet eb deploy-environment --profile xxx -env yyyy --publish-options  "--runtime win-x64" "--self-contained true"`
or
`dotnet eb deploy-environment --profile xxx -env yyyy --publish-options  ""--runtime: win-x64"" ""--self-contained true""`

Both result in this call to dotnet publish:
`dotnet publish [PathToProject] --output [PathToOutput

[2022-01-20 20:33] ashishdhingra commented on #143
This needs to be reviewed with the team.

[2022-01-20 20:41] ashishdhingra commented on #141
Appears to be a useful feature request. Needs discussion with the team.

[2022-01-20 21:35] ashishdhingra commented on #195
Appears to be a valid feature request. May be introduce a flag to alter this behavior. Needs discussion with the team.

[2022-01-20 21:45] ashishdhingra commented on #159
Needs review with the team.

[2022-01-24 22:18] madmox commented on #159
I find the current `--template-parameters` syntax to be quite a pain to use, since you have to escape both `\` and `"` characters from each parameter key and value. I was happy to be able to use the `file://` syntax with `aws cloudformation deploy`, only to find out `dotnet lambda deploy-serverless` does not support it.

It's a real shame, because it means we have to handle the stack settings diff

[2022-01-28 23:24] ashishdhingra commented on #196
When deploying the serverless application using `Image` package type, `serverless.template` has `AspNetCoreFunction` resource with `ImageUri` as one of the properties. For example:
[code]

Not sure if setting `ImageUri` property would provide workaround for user. Needs review with the team.

[2022-01-31 19:33] ashishdhingra commented on #192
Waiting for .NET 6 target support on AWS .NET CLI extensions.

[2022-02-02 10:39] danyhoron opened #201 "Serverless MetaData / DockerBuildArgs are not being sent as --build-arg to docker"
## Description

I have a serverless json file to deploy a .net 6 lambda function.
I configured my Dockerfile to accept some build arguments.
In the serverless metadata section I have the following config:
[code]
when I run: `dotnet lambda deploy-serverless -t serverless.json --profile <my-profle> -sb <my-s3-bucket> -sn <my-stack-name>`
I get the logs below.
`--build-arg` is missing from the `docke

[2022-02-02 17:06] ashishdhingra commented on #201
Could be related to https://github.com/aws/aws-extensions-for-dotnet-cli/issues/198.

[2022-02-02 17:39] danyhoron commented on #201
It behaves the same on 5.2.0 and on 5.1.4

[2022-02-02 17:41] ashishdhingra commented on #201
@danyhoron Please advise if it was working in any of the earlier versions. If not, then this is most likely a feature request.

[2022-02-02 17:46] danyhoron commented on #201
I couldn't find any official documentation on the Metadata property

[2022-02-03 04:07] sohail-sf commented on #109
But I have written a blog regarding publishing custom DLL's on lambda layer if it is very essential for some one
https://medium.com/@sohail-dev/publish-custom-dlls-to-aws-lambda-layer-e4ac37a59b85

[2022-02-03 17:18] battarro commented on #191
I figured it out why this was not working, and there issue was that the file `aws-lambda-tools-defaults.json` was not present on the same folder as the project.

If the file it is missing it never compiles the project correctly. @ganeshnj maybe the tool needs to be improved to either ignore when the file is not there, or error out, but it is awkward to have it change the behavior of the command ju

[2022-02-03 18:25] NashSequeira commented on #60
what was the resolution? I am also getting segfaults on ubuntu 20.04

[2022-02-03 18:44] NashSequeira commented on #60
fwiw: Its an issue with how globally installed tools interact with snap installed dotnet:
https://github.com/dotnet/installer/issues/491#issuecomment-464173079
ended up just setting the following env vars:
[code]

[2022-02-03 19:10] NashSequeira commented on #60
fwiw: i ended up doing a clean install of the dotnet runtime and sdks using apt instead of snap

[2022-02-03 19:29] ashishdhingra commented on #201
[DockerCLIWrapper](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/cdd490450e0407139d49248d94a4a899367e84df/src/Amazon.Common.DotNetCli.Tools/DockerCLIWrapper.cs#L24) supports parring additional options to the `docker build`. Not sure if this is similar to `DockerBuildArgs`. [SAM: Building applications](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/server

[2022-02-07 00:11] #97 closed

[2022-02-07 00:11] #98 closed

[2022-02-07 00:35] augustoproiete commented on #98
these bots are ... Not useful

[2022-02-11 21:17] ashishdhingra commented on #201
Discussed with the team. Good candidate for feature request.

Just for reference: https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/src/Amazon.Lambda.Tools/TemplateProcessor/TemplateProcessorManager.cs#L289

[2022-02-11 21:20] ashishdhingra commented on #197
PR https://github.com/aws/aws-extensions-for-dotnet-cli/pull/200 might fix the issue. Need to test customer's scenario after the PR is merged.

[2022-02-14 12:14] hmvs commented on #60
We moved the discussion to this issue https://github.com/dotnet/runtime/issues/3464

[2022-02-15 04:35] normj commented on #192
I have pushed version 5.3.0 of the Lambda tool that adds a .NET 6 target framework for build. This should unblock M1 users with only the ARM version of .NET 6 installed.

[2022-02-15 05:52] ashishdhingra commented on #192
@timdinh Please upgrade to latest version and verify if the issue is resolved.

[2022-02-15 06:02] timdinhdotcom commented on #192
@normj @ashishdhingra Thanks guys, version 5.3.0 works now.

[2022-02-15 06:03] #192 closed

[2022-02-17 21:50] anuradharajan opened #202 "Lambda packaging with a function layer"
## Description

Getting this error when trying to package a dotnet core lambda with a layer

dotnet lambda package --region us-east-1 --function-layers arn:aws:lambda:us-east-1:********:layer:**************:9 --configuration release --framework netcoreapp3.1 --output-package output

Inspecting Lambda layers for runtime package store manifests
... arn:aws:lambda:us-east-1:*************:layer:******

[2022-02-17 22:32] ashishdhingra commented on #202
Hi @anuradharajan,

Good afternoon.

Could you please share the sample code solution and all the steps you took, to reproduce the issue? The error you are getting is pretty vague and doesn't help much here to provide any guidance.

Thanks,
Ashish

[2022-02-18 14:37] anuradharajan commented on #202
Hi Ashish

The problem I am facing here is with the dotnet lambda package cli. I have mentioned the CLI command above. The package command works fine when there is no layers argument. But when I add the layer argument in the command, it tries to inspect the layer and complains that there is no layer description manifest.

My layer does have the manifest (artifact.xml) which has the list of all Nug

[2022-02-18 16:15] anuradharajan commented on #202
All set with this

[2022-02-18 16:15] #202 closed

[2022-03-02 17:30] napalm684 opened #203 "Lambda Layers Without S3 Upload Requirement"
## Describe the Feature
The Lambda Layer feature should allow me to build the layer assets on my file system and publish from the file system via my IaC which happens to be AWS CDK. I can use `fromBucket` for my code in the CDK, but this requires an extra S3 bucket to be setup for hosting the layer.

### Is your Feature Request related to a problem?
N/A

## Proposed Solution
Implement an argument

[2022-03-17 21:54] normj commented on #31
Circling back on this issue. MFA support was added in version 3.3.0

https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/RELEASE.CHANGELOG.md#release-2019-08-16

[2022-03-17 21:54] #31 closed

[2022-03-23 18:37] alexgurman opened #205 "Unable to run Amazon.Lambda.Tools lambda package-ci on Linux"
## Description
We are using dotnet.exe lambda package-ci to package and deploy our Lambda code in a bucket. It works fine on Windows agents, but fails on Linux.

## Reproduction Steps
dotnet.exe" lambda package-ci --output-template GeneratedCloudFormation.template --configuration Release --s3-bucket noticemanager-deployment-dev --s3-prefix CF/Lambda-DataExtractor-Build-master/ --disable-interactiv

[2022-03-23 21:14] ashishdhingra commented on #205
Hi @alexgurman,

Good afternoon.

From the error trace that you shared, as the error `Error: There was an error when attempting to execute the process '/usr/bin/dotnet'. This may indicate the process failed to start. Error: spawn /usr/bin/dotnet ENOENT` indicates, there appears to be a problem while executing `dotnet` command on your Linux environment, even though it runs fine on your Windows envi

[2022-03-24 15:38] alexgurman commented on #205
Hey Ashish - your idea didn't work out - dotnet build works fine, see log below. The issue must be with the tool.
Standing by for further suggestions.

2022-03-24T15:34:31.9356965Z [command]/usr/local/bin/dotnet build /workspace/1/s/Main/DataExtractorLambda.sln -dl:CentralLogger,"/workspace/_tasks/DotNetCoreCLI_5541a522-603c-47ad-91fc-a4b1d163081b/2.198.0/dotnet-build-helpers/Microsoft.TeamFoundat

[2022-03-24 15:53] ashishdhingra commented on #205
@alexgurman The error clearly states that **dotnet** process failed to start. Could you try executing the **lambda** command with **sudo**?

[2022-03-24 15:59] alexgurman commented on #205
@ashishdhingra - when we run /usr/bin/dotnet lambda package-ci  does it start dotnet or the Amazon.Lambda.Tools tool?

Also, not a Linux expert, we are executing build in Azure DevOps using a task, see below. Let me know what should I change on it and will test it. Or if you want me to run command line or shell, let me know what to run exactly.

    - task: DotNetCoreCLI@2
      enabled: true

[2022-03-24 17:30] alexgurman commented on #205
@ashishdhingra - thank you for clarification. Here are some answers:
1. Pipeline privileges are fine, as we can build with dotnet build, see previous post
2. For the same reason dotnet is installed properly and executes properly, see log provided earlier
3. If there is any further diagnostic flags that we can add, let us know. Or if there is a command you would like us to execute on command line o

[2022-03-24 17:35] ashishdhingra commented on #205
@alexgurman The issue here is that the `dotnet lambda package-ci` command is launching a separate `dotnet` process to build the project, which somehow is failing. I'm not sure whether Azure DevOps task allows/has permission to launch a separate process. Please try running this command from a bare bone Linux EC2 instance, it would definitely execute successfully without any issues. As mentioned ear

[2022-03-25 00:32] normj commented on #205
@alexgurman Can you try a test for me. Instead of calling `/usr/bin/dotnet lambda` in your script which uses the dotnet CLI to forward to the lambda tools can you call directly to the lambda tools by replacing `/usr/bin/dotnet lambda` with `~/.dotnet/tools/dotnet-lambda` and see what logging you get?

[2022-03-25 01:04] alexgurman commented on #205
sorry, higher priorities kicked in. will come back to it later

On Thu, Mar 24, 2022 at 7:32 PM Norm Johanson ***@***.***>
wrote:

[2022-03-31 19:20] hunanniu commented on #52
No plan to address this

[2022-03-31 19:20] #52 closed

[2022-03-31 19:37] ganeshnj commented on #67
The status code should be inline with the CF returned response. If CF says no-changeset is success, CLI should return 0.

@ashishdhingra could you verify it?

[2022-03-31 19:49] hunanniu commented on #72
Recommend to use CDK to achieve this

[2022-03-31 19:49] #72 closed

[2022-04-03 00:16] #205 closed

[2022-04-11 20:13] Beau-Gosse-dev opened #208 "'dotnet lambda publish-layer' fails in .NET 6 with ‘--enable-package-optimization true’"
### Describe the bug

When trying to publish a .NET 6 layer, if you try to enable package optimizations, you will get an exception complaining about crossgen not existing in the tools directory of the .NET 6 SDK. It seems crossgen is no longer included with .NET 6 tools. And it sounds like this is by design according to this issue: [https://github.com/dotnet/sdk/issues/24752](https://github.com/do

[2022-04-11 20:48] ashishdhingra commented on #208
Not sure if we need to remove package optimizations feature for .NET 6 (displaying proper error message) or to research more on `FrameworkReferences` described in https://github.com/dotnet/sdk/issues/24752 (issue is awaiting response confirmation from the concerned team). Needs review.

[2022-04-13 22:44] hauntingEcho opened #209 "dotnet lambda package-ci chokes on unquoted AWS::NoValue ref in !If block"
### Describe the bug

if you use `!Ref AWS::NoValue` as a possible result of an `!If`, then `dotnet lambda package-ci` will fail.

### Expected Behavior

template provided in the reproduction steps works with `dotnet lambda package-ci`

### Current Behavior

while `aws cloudformation validate-template` accepts the file, `dotnet lambda package-ci` fails with the error:
[code]

### Reproduction Step

[2022-04-13 22:48] hauntingEcho commented on #209
Also applies to `AWS::StackName`

[2022-04-14 23:32] ashishdhingra commented on #209
@hauntingEcho Although unsure, you might be affected by the issue https://github.com/aws/aws-extensions-for-dotnet-cli/issues/116. If yes, please close this a duplicate.

[2022-04-15 17:45] hauntingEcho commented on #209
My understanding is that 116 only affects the `--template-substitutions` command-line parameter, which I am not using.  This issue is when using CloudFormation's [pseudo-parameters](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/pseudo-parameter-reference.html)

[2022-04-22 17:33] toddlang opened #211 "Directory.build.props heirarchy is not respected"
### Describe the bug

When packaging a lambda using `dotnet lambda package`, if the target project does not include a `<TargetFramework>` node (because it is defined in a Directory.build.props at a higher location) the packaging tool fails saying it does not know what framework to use.

`Missing required parameter: --framework`

### Expected Behavior

The tool will understand that MSBuild can walk

[2022-04-26 22:56] normj opened #212 "Projects with a mix of Zip and Image functions do not package correctly."
### Describe the bug

When deploy a project using the `deploy-serverless` command. If the CloudFormation template has a mix of Image and Zip package type functions the packaged CloudFormation template with the links to the uploaded deployment bundles will be incorrect.

This is because `deploy-serverless` makes a cache of project bundles once per project path. Not expecting functions to have diffe

[2022-05-02 17:39] Beau-Gosse-dev commented on #208
@ashishdhingra it looks like Microsoft is removing support for `dotnet store` all together. Do we have a plan to keep functionality with .NET Lambda Layers some other way?

[2022-05-02 22:09] carlin-q-scott commented on #186
This seems to be same issue I reported in #167

[2022-05-06 00:17] #126 closed

[2022-05-10 15:24] paul-michalik commented on #211
In connection with AWS SAM this is even worse. If you set for example your directories for temporary and binary directories, or the language version on global level via `Directory.build.props` then this is completely by AWS SAM and by `dotnet lambda` commands.

[2022-05-10 21:02] normj opened #213 "Allow setting msbuild parameters in CloudFormation template"
### Describe the feature

When deploying a function straight to the Lambda service using the `dotnet lambda deploy-function` command users can specific additional MSBuild parameters passing in the `--msbuild-parameters` switch. When deploying via CloudFormation the project being built is being decided via the location of the project specified in the template via the Code properties. In this contex

[2022-05-11 11:27] paul-michalik commented on #122
It dies not work, if you are using `sam`

[2022-05-11 11:54] paul-michalik commented on #213
I would support that. Currently, if you are using [`sam build`](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-cli-command-reference-sam-build.html) I have not found a way to provide alternative parameters such as temporary folder location or optimization flags to the underlying `dotnet publish` . The consequence is that you can't use `sam build` at all. If some

[2022-05-12 20:24] hauntingEcho opened #214 "project-location is relative to the folder of the template, not the working directory"
### Describe the bug

project-location is documented as: "The location of the project, if not set the current directory will be assumed."

It actually is relative to, and defaults to, the folder of your template file rather than your current working directory.

### Expected Behavior

project location is relative to, and defaults to, the current working directory

### Current Behavior

project loca

[2022-05-12 22:09] ashishdhingra commented on #214
@hauntingEcho Could you please point to documentation source which has the issue?

[2022-05-12 22:25] hauntingEcho commented on #214
It looks like it's defined as a common option [here](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/1c9e00610e57e36df8eff5fad931ad690bdd4582/src/Amazon.Common.DotNetCli.Tools/Options/CommonDefinedCommandOptions.cs#L116).  I don't know whether it's incorrect for anything other than package-ci, though

[2022-05-12 23:42] normj commented on #214
Hi @hauntingEcho

My thought process here is for `deploy-serverless` and `package-ci` the CloudFormation template is the "project". The Template can be used to deploy multiple .NET projects so tying project location to a specific .NET project doesn't make sense. I see where you are coming from and recognize my leap of thinking the CloudFormation template is the project is not clear and we should u

[2022-05-13 17:27] hauntingEcho commented on #116
Our current deployment script to work around this is to:

1. run `dotnet lambda package-ci` to handle the compilation/uploads
2. run `aws cloudformation package` to handle the template substitutions
3. actually deploy via Stacker (`aws cloudformation deploy` would probably work if you're deploying a single template)

[2022-05-13 17:58] hauntingEcho opened #216 "support CloudFormation template configuration file for deploy-serverless"
### Describe the feature

The [template configuration file](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-cfn-artifacts.html#w2ab1c21c15c15) is supported by several other tools in the CloudFormation ecosystem, and provides a convenient way to share config between manual deployments and CodePipeline.

### Use Case

When using a CI/CD pipeline, we pr

[2022-05-13 22:33] hauntingEcho commented on #214
Digging into this, it looks like things just generally don't work right when the project is not in the same directory as the template:

Taking just the first two steps of the setup (`rm src/lambda-example/serverless.yaml` if needed from the rest) and running `dotnet lambda package-ci -t serverless.yaml -sb ${bucket} -ot compiled.yml -pl src/lambda-example/ -t serverless.yaml` gives "Template file

[2022-05-14 01:06] normj commented on #214
Here is the post talking about how to use multiple projects with the CloudFormation template. https://aws.amazon.com/blogs/developer/aws-serverless-applications-with-multiple-net-core-projects/

From what I understand your Lambda code is in `src/lambda-example` and the you want the CloudFormation template to be at `src/serverless.yaml`. Then in theory you could also have a second Lambda project he

[2022-05-14 17:36] hauntingEcho commented on #214
Ah! Using `CodeUri` like that should resolve my use-case.  I hadn't re-read the spec since [local folders became supported](https://github.com/awsdocs/aws-sam-developer-guide/commit/545f611833598f0d8efa2b177dedc84ac266842b#diff-fb165a3484260652a4d3a856f53b90abd929a4d45c3942e2ca8d74fd6a1fb976).

Does `package-ci` support zip file paths there? It looks like that's supported in [some tools](https://g

[2022-05-16 18:16] hauntingEcho commented on #143
I think this can be worked around by using `aws cloudformation package` instead:

1. build your template using `AWS::Serverless::Function` objects either using `CodeUri` directly or via the `Globals`.  Set that `CodeUri` to a local zip path
2. `dotnet lambda package` to build your zip file to that same local zip path
3. use `aws cloudformation package` to handle the file uploads
4. use `aws cloudf

[2022-05-23 20:21] ashishdhingra commented on #203
Needs review with the team.

[2022-05-27 20:03] ashishdhingra commented on #214
@hauntingEcho Please confirm if guidance provided by @normj resolves your issue.

[2022-05-27 20:42] hauntingEcho commented on #214
it gives me a workaround in which I don't need to use the project-location flag for my use-case, but doesn't resolve the issue with the help message

[2022-06-01 17:51] sykesbPragmatics opened #220 ".Net Core Package command fails to target linux-x64"
### Describe the bug

We have had this issue periodically across the several .Net Core lambda projects we use and I have never been able to nail down the root cause.  To be clear it occurred previously when we were using .Net Core 3.1 and we had not seen it (at least with local builds) for several months.

All our builds are on windows machines and generally I only see this occur on our AWS CodeBu

[2022-06-02 19:22] sykesbPragmatics commented on #220
I believe that I have identified the root cause.  Our lambdas were targeting other projects and the nuget restore was not properly retrieving the linux-x64 dependencies.

Possible solutions:
Explicitly identify the runtime identifiers that are needed for your builds.  In our case both win-x64 and linux-64 are needed since we develop on windows and docker runs in linux.

[code]

OR
Explicitly call

[2022-06-02 19:22] #220 closed

[2022-06-03 16:28] ashishdhingra commented on #198
This should be fixed in [Amazon.Lambda.Tools 5.4.2](https://www.nuget.org/packages/Amazon.Lambda.Tools/5.4.2).

[2022-06-03 16:28] #198 closed

[2022-06-19 05:02] garyzhuosim opened #223 "task-definition-volumes and container-mount-points is not working"
### Describe the bug

When set these two parameter, it doesn't work

### Expected Behavior

It should be working

### Current Behavior

These two parameter is ignored

### Reproduction Steps

When deploy ecs service using `dotnet ecs deploy-service` command, these two parameter is not working

### Possible Solution

_No response_

### Additional Information/Context

_No response_

### Targeted .NE

[2022-06-20 15:37] ashishdhingra commented on #223
Customer submitted PR needs review.

[2022-06-21 18:35] ashishdhingra commented on #201
Support for `DockerBuildArgs` is released in [Amazon.Lambda.Tools version 5.4.3](https://www.nuget.org/packages/Amazon.Lambda.Tools/5.4.3).

[2022-06-21 18:35] #201 closed

[2022-06-22 00:21] #175 closed

[2022-07-01 00:21] #125 closed

[2022-07-07 14:28] hounddog22030 opened #228 "How Do You "dotnet lambda package-ci" for arm64?"
### Describe the issue

We are trying to use `dotnet lambda package-ci` to package for arm64

`dotnet lambda package --help` documentation shows `-farch | --function-architecture        The architecture of the Lambda function. Valid values: x86_64 or arm64. Default is x86_64`

Yet, `dotnet lambda package-ci --help` shows no switch for architecture.

We have issued:

1. `dotnet lambda package-ci ..

[2022-07-07 18:33] ashishdhingra commented on #228
Hi @hounddog22030,

Good morning.

Thanks for reporting the issue. Upon investigating further:
- The `--function-architecture` for `dotnet lambda package` command sets the **[--runtime](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/01735e390f52255c8c4bb3759c4643c45156d8e8/src/Amazon.Lambda.Tools/LambdaDotNetCLIWrapper.cs#L219)** argument if it is not already included as part of MSBuild

[2022-07-07 19:37] hounddog22030 commented on #228
Yep.  Thanks!  Do you want me to do a PR to add that to the documentation?

[2022-07-07 20:06] ashishdhingra commented on #228
@hounddog22030 I don't think this workaround should be a part documentation update. This should instead be discussed with team on the missing `--function-architecture` for `dotnet lambda package-ci` command. I would label this is a `bug` so that it could be discussed with the team.

[2022-07-07 23:39] normj commented on #228
@hounddog22030 For the `package-ci` command the tool uses the CloudFormation to determine what architecture to package the function for.  So if you want to use ARM then set the `Architectures` property on the function.

[code]

[2022-07-08 00:01] ashishdhingra commented on #228
Thanks @normj for the inputs.

@hounddog22030 Please refer existing example template https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/testapps/TestServerlessWebApp/serverless-arm.template as reference. If this helps, kindly confirm if this issue could be closed.

[2022-07-08 00:47] hounddog22030 commented on #228
I have confirmed this is as @normj describes.  _Didn't see that coming ;-)_  Do you want me to do a PR to document that?

[2022-07-08 01:00] normj commented on #228
@hounddog22030 I think a doc PR makes sense. I assume we are talking on the [README](https://github.com/aws/aws-extensions-for-dotnet-cli/#package-ci). Also I realized the help on `dotnet lambda package-ci --help` is pretty bad. If you want to make PR to improve it that would be great https://github.com/aws/aws-extensions-for-dotnet-cli/blob/master/src/Amazon.Lambda.Tools/Commands/PackageCICommand

[2022-07-08 02:42] hounddog22030 commented on #228
PR:  https://github.com/aws/aws-extensions-for-dotnet-cli/pull/229

[2022-07-08 19:38] ashishdhingra commented on #228
@hounddog22030 Somehow I do not see any concrete changes in the PR https://github.com/aws/aws-extensions-for-dotnet-cli/pull/229.

[2022-07-08 19:59] hounddog22030 commented on #228
Per @normj, I did a "doc PR".  Do you not see

Sorry, I think the push failed.  Please check again, I've pushed and verified it's there now.

[2022-07-12 23:32] normj commented on #228
Thanks for the doc PR @hounddog22030. I have merged in the changes.

[2022-07-12 23:34] #228 closed

[2022-07-13 16:02] carlin-q-scott commented on #167
Please re-open. The issue has not been fixed to my knowledge.

[2022-07-21 18:07] rpatton4 opened #231 "The tools will not update on Apple M1 without .net 3.1 core"
### Describe the bug

The extensions will not update on Apple M1 without .net 3.1 core, yet according to Microsoft we cannot have that version on our system if we want to use Visual Studio and .Net 6.  AWS SAM does an update on the tools at the start of every build, so this is preventing SAM from initiating a build.

### Expected Behavior

I'd expect `dotnet tool update -g Amazon.Lambda.Tools` to

[2022-07-21 19:19] normj commented on #231
I have confirmed on a M1 Mac that has both .NET 6 Arm64 and x64 as well as a M1 Mac that has just .NET 6 Arm64 installed that the upgrade command is working from 5.4.1 to 5.4.4.

If you uninstall 5.4.1 and then reinstall does that work? I'm wondering if something got in

[code]

[2022-07-21 21:14] rpatton4 commented on #231
Thanks for the reply!  Unfortunately no, it didn't work:

└─ $ ▶ dotnet tool uninstall -g Amazon.Lambda.Tools
Tool 'amazon.lambda.tools' (version '5.4.1') was successfully uninstalled.

then

└─ $ ▶ dotnet tool install -g Amazon.Lambda.Tools
It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '3.1.0' (arm64) was not found.
  - The following f

[2022-07-21 21:19] #231 closed

[2022-07-21 21:20] rpatton4 commented on #231
[normj](https://github.com/normj)'s comment got me testing a few things, and this appears to be an issue with the 'dotnet' tool, not the aws extensions.  So I closed this.

[2022-07-21 23:20] normj commented on #231
In case somebody else has the issue I would be curious what you find is the issue with the `dotnet` tool.

[2022-07-26 19:18] rpatton4 commented on #231
I resolved this by doing a full wipe on my system and reinstalling MacOS.  Prior to this I uninstalled .NET using scripts from Microsoft from their ARM instructions as well as their git repo with a script to uninstall.  I could find no hint of .net remaining after, but with a "fresh" install of .NET 6 the dotnet tool still kept a dependency on 3.1.  The full wipe and reinstall solved this.  I thin

[2022-08-01 18:33] chrisoverzero commented on #211
This is something I've tackled in #183.

[2022-08-04 20:59] rittneje opened #232 "dotnet lambda package is not reproducible"
### Describe the bug

Because `dotnet lambda package` does not zero out the mtimes of the files in the zip, the zip file itself constantly changes on every build. This means that even rerunning a build of the same exact commit will lead to a cdk diff.

### Expected Behavior

`dotnet lambda package` should produce identical results given identical inputs.

### Current Behavior

The original mtimes

[2022-08-04 21:53] ashishdhingra commented on #232
@rittneje Good afternoon. I'm not sure if this is an issue. The `dotnet lambda package` command internally calls `dotnet publish` to produce the output. It would (and should) not modify any attributes of the files generates as part of `dotnet publish` command. It would be interesting to see which files you see have modified timestamps as a result of running the command again. Is it the output of t

[2022-08-04 22:09] rittneje commented on #232
The problem is not that it modified the file attributes. In fact, it's the opposite. It is required for `dotnet lambda package` to set all the mtimes to some static value before generating the zip file, or else the zip file contents will always change, in turn leading to spurious cdk diffs.

[2022-08-04 22:23] ashishdhingra commented on #232
@rittneje So are you saying it is not doing it right now and should do it (i.e. set all the mtimes to some static value) as a feature request?

[2022-08-04 22:40] rittneje commented on #232
Regardless of whether you want to consider it a bug or a feature request, the problem is that `dotnet lambda package` is currently incompatible with cdk. And it is incompatible because it does not allow for byte-for-byte reproducible builds (hence the issue title).

[2022-08-05 13:22] augustoproiete commented on #107
Please don't close

[2022-08-09 02:49] Swimburger opened #233 "`dotnet new` generates project in src folder"

[2022-08-11 14:52] bjhogan opened #234 "dotnet lambda deploy-function fails when *** No policy, add permissions later *** is chosen"
### Describe the bug

When deploying a Lambda function using `dotnet lambda deploy-function`, an error occurs if the option *** No policy, add permissions later *** is chosen.

[code]

### Expected Behavior

The function deploys with a role that has no policy attached.

### Current Behavior

[code]

### Reproduction Steps

Create a Lambda function with the `lambda.EmptyFunction` template.

Run `do

[2022-08-11 16:32] hauntingEcho commented on #83
This is still needed

[2022-08-11 18:33] ashishdhingra commented on #234
Reproducible.

**Possible fix:**
Handle `null` while iterating through managed policies at [RoleHelper.CreateRole()](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/39100a7c3a13db69002fc7fbd9d659517ea02eaa/src/Amazon.Common.DotNetCli.Tools/RoleHelper.cs#L145) and calling `ExpandManagedPolicyName()`. Also handle `null` while trying to attach policy later before trying to execute [IamClien

[2022-08-14 00:20] #95 closed

[2022-08-18 19:27] ashishdhingra commented on #234
Fixed in [Amazon.Lambda.Tools version 5.4.5](https://www.nuget.org/packages/Amazon.Lambda.Tools/5.4.5).

[2022-08-18 19:27] #234 closed

[2022-08-28 13:56] paul-michalik commented on #213
@chrisoverzero No, it does not. Trying with v1.55, it happily ignores the "aws-lambda-tools-defaults.json" in the project directory or in the global solution directory, no matter where I put it.

[2022-08-28 14:32] chrisoverzero commented on #213
Ah, I think I see the confusion. It does pick up that file in those locations with many of its settings, as I've confirmed from testing, but it doesn't read the "msbuild-parameters" setting upon `sam build`. As you saw in #122, there's some subtlety to which parameters are used in which commands, and I haven't entirely internalized it.

[2022-08-28 16:03] paul-michalik commented on #213
Hm, but the settings are only useful for "sam build", afterwards they are irrelevant. Which settings are picked during "sam build"? There seems to be a plenty which could be useful.

[2022-08-28 16:27] chrisoverzero commented on #213
Unless the architecture has changed since I last looked, `sam build` calls `dotnet lambda package` under the hood, traversing each `CodeUri` in the SAM template. I recall from #122 that there are some settings contingent on whether the SAM template and the project file are siblings – that is, whether they’re in the same directory. For teams with which I’m associated at my company, we’ve put common

[2022-08-28 18:33] paul-michalik commented on #213
Yes, I use "Directory.Build.Props" too, in order to set common properties for all projects in a common "devkit", which typically is a solution container (I often share projects across solutions). Dotnet tooling respects this if you invoke dotnet commands or MSBuild according to common rules. However, "sam build" does not play by my rules, and I don't see many possibilities to tweak it, except: 1)

[2022-08-31 22:14] ashishdhingra commented on #67
Findings:
- Based on existing stack status of [StackStatus.UPDATE_COMPLETE](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/0d788f1015acbe836c4a4d8961f50e07c7924076/src/Amazon.Lambda.Tools/Commands/DeployServerlessCommand.cs#L224), it uses `ChangeSetType.UPDATE` for [CreateChangeSetRequest](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/0d788f1015acbe836c4a4d8961f50e07c7924076

[2022-09-06 20:08] mieliespoor opened #239 "dotnet lambda package does not honor --no-build and --no-restore flags"
### Describe the bug

when calling `dotnet lambda  package --no-build`, the expectation is that this is passed on to the donet publish command by the lambda tools. This however doesn't appear to happen.

When the dotnet publish command is run, the `--no-build` flag is missing which results in a dotnet restore happening. There is no way to then control what sources this then uses to restore the pac

[2022-09-06 22:48] ashishdhingra commented on #239
@mieliespoor For specifying parameters that need to be passed to MS Build, you need to use `--msbuild-parameters` parameter. So in you case, this should be `dotnet lambda package ... --msbuild-parameters "/p:Version=0.0.16 --no-build --no-restore"`. I tested it and it works:
[code]

Thanks,
Ashish

[2022-09-07 08:27] mieliespoor commented on #239
That fixed it. This is somewhat misleading as the `--no-build` flag is technically not a msbuild parameter, but rather dotnet cli. Another issue I picked up on our side is that we didn't wrap the msbuild-parameters in quotes. Once this has been done, this worked as expected.

[2022-09-07 08:27] #239 closed

[2022-09-08 21:29] madmox opened #240 "Cannot use dotnet lambda with MFA"
### Describe the bug

I have MFA enabled and required for my IAM user and assumable IAM role, and the appropriate config/credentials file for AWS CLI. I can successfully deploy AWS CloudFormation stacks using either the AWS CLI (`aws cloudformation deploy`) or the SAM CLI (`sam deploy`), meaning I am prompted for an MFA code and the stacks deploys afterwards. But the `Amazon.Lambda.Tools` CLI fail

[2022-09-09 16:08] ashishdhingra commented on #240
MFA support was added in version 3.3.0 as per https://github.com/aws/aws-extensions-for-dotnet-cli/issues/31#issuecomment-1071576536. This needs reproduction.

[2022-09-22 13:55] bjhogan opened #241 "`dotnet new lambda/serverless.* ...` fails with .NET 7.0.100-rc.1.22431.12"

[2022-09-22 16:13] bjhogan commented on #241
Hi @ashishdhingra,

FYI, this used to work with an earlier version of .NET 7.

Bryan

[2022-09-28 00:15] ashishdhingra commented on #240
Hi @madmox,

Good afternoon.

Somehow I'm unable to reproduce the issue. Below are the steps I followed:
1. Followed instructions at [Using multi-factor authentication (MFA)](https://docs.aws.amazon.com/sdkref/latest/guide/access-mfa.html) to setup:
   - IAM role to delegate access to IAM users. (added list lambda permissions for reproduction)
   - Creating an IAM user that assumes the role's perm

[2022-09-28 08:23] madmox commented on #240
It looks like I messed up my `credentials` / `config` file by using the same profile for both the profile with persistent credentials and the profile with the role and MFA config:

`credentials`
[code]

`config`
[code]

If I change my config file like this (merged both files in `credentials` for clarity):
[code]

Then it works OK. I don't know why my previous configuration was supported by the sta

[2022-10-04 00:31] ashishdhingra commented on #188
No close

[2022-10-09 00:24] #134 closed

[2022-10-09 19:29] controdave commented on #208
Would love an answer to this please - is there any work around to publish a lambda layer :(

[2022-10-10 17:06] Beau-Gosse-dev commented on #208
@controdave There are 2 workarounds for publishing a layer still, do either of these help for now?

[2022-10-10 17:16] controdave commented on #208
Awe shucks, will there be a performance knock at all with remove package optimization? Thank you sir!

[2022-11-01 12:07] Kralizek opened #245 "`deploy-function` doesn't recognize dotnet6 as runtime when passed as parameter"
### Describe the bug

If I execute the following command

[code]

I'm prompted again for the runtime.

### Expected Behavior

Arguments passed via command line should be accepted and I should not get prompted to insert the value again

### Current Behavior

I'm asked again for the runtime.

### Reproduction Steps

1. Create a function
2. Try to deploy using the command shown above
3. You will be p

[2022-11-01 14:28] Dreamescaper commented on #232
Probably a duplicate of https://github.com/aws/aws-extensions-for-dotnet-cli/issues/195.

[2022-11-01 16:06] ashishdhingra commented on #245
Hi @Kralizek,

Good morning.

The parameter name to specify runtime is `--function-runtime`. You could get the list of supported options by executing `dotnet lambda deploy-function --help` which would display command line help.

Thanks,
Ashish

[2022-11-02 07:24] FizzBuzz791 opened #247 "dotnet lambda package command relies on zip but doesn't install it"
### Describe the bug

I'm trying to package a lambda using the `dotnet lambda package` command so that it can be saved as an artifact and used in future steps of the CI/CD pipeline, but the command says:

### Expected Behavior

`dotnet lambda package` runs to completion.

### Current Behavior

Tool gets to the zip step and fails.
![image](https://user-images.githubusercontent.com/2747764/199423986

[2022-11-02 17:06] ashishdhingra commented on #247
Hi @FizzBuzz791,

Good morning.

As the error indicates, you need to have `zip` package installed. On Debian based Linux distributions, the `zip` package could be installed using `sudo apt install zip` (this assumes that you have `sudo` access).

Are you running this inside the Docker container? If yes, then refer https://stackoverflow.com/questions/41651145/docker-container-not-able-to-locate-zip

[2022-11-04 07:28] FizzBuzz791 commented on #247
Hrmm OK, `dotnet lambda package-ci` is probably correct, but it's a bigger change than I'm willing to invest in right now. At present, we bundle it up and then use `npx sls deploy` to get the job done.

The mentioned steps for running inside Docker seem to work, however I'm still trying to understand why there's no dependency management here or at least why there's no warning on install? It warns

[2022-11-07 17:00] ashishdhingra commented on #247
@FizzBuzz791 This is probably a feature request to warn about missing tool dependencies and needs review with the team. I'm unsure if it would be prioritized, but would post any update here.

[2022-11-08 18:21] stpanzer opened #248 "5.6.0 dotnet lambda package does not copy all files from publish folder"
### Describe the bug

When running `dotnet lambda package`, the zip stage skips the PDB file. This breaks local debugging for SAM applications.

I've confirmed the previous behavior in 5.5.0 (see repro steps) was to copy the PDB file.

### Expected Behavior

The PDB file to be copied into the zip.

### Current Behavior

PDB file was not copied.

### Reproduction Steps

[code]

Note that this works

[2022-11-08 20:40] savva312 opened #249 "Cannot build using mcr.microsoft.com/dotnet/sdk:6.0"
### Describe the bug

Hello up until recently (3 days ago) I was able to run
`dotnet lambda package --configuration Release`

In Docker file.

Today I started having this error
`Target Framework of netcoreapp6.0 must have output type 'exe' and run on a custom runtime, since this is not a Lambda-managed .NET runtime.`

I had to force to use older version for SAM to be able to build the project
`RUN

[2022-11-08 22:42] ashishdhingra commented on #249
@savva312 Could you please recheck your `.csproj` file and compare it with what it was 3 or 4 days ago? `netcoreapp6.0` doesn't appear to be a valid value for .NET 6 framework. It should be `net6.0`. Refer https://learn.microsoft.com/en-us/dotnet/standard/frameworks for Target framework moniker.

Thanks,
Ashish

[2022-11-08 22:52] ashishdhingra commented on #248
@stpanzer Looks like in `Amazon.Lambda.Tools` version `5.6.0`, the change to skip `dbg` and `pdb` files was added at https://github.com/aws/aws-extensions-for-dotnet-cli/blob/599a3508d9c37e1e5784df76ba89abad1f49f7a9/src/Amazon.Lambda.Tools/LambdaPackager.cs#L592.

I do see in your log that you are using `Release` configuration per command `dotnet publish "/home/radicaledward/test/dotnettest" --out

[2022-11-08 23:13] normj commented on #248
@stpanzer sorry for breaking your debug workflow. I'll work on getting a fix out quickly.

For background we have been working on adding Native AOT support and we wanted to not bundle the `dbg` files in, the native debug symbols file, because they are huge. We were over reaching by also removing `pdb` files to reduce executable size which aren't even generated for Native AOT. I'll change the code

[2022-11-08 23:37] stpanzer commented on #248
@normj @ashishdhingra Thanks for the quick responses!

Given the code linked above, I assume there isn't a workaround for 5.6.0?

Unfortunately, `sam build` will always update to the most recent version of `Amazon.Lambda.Tools` - https://github.com/aws/aws-lambda-builders/issues/347

I've been looking at patching the sam cli locally to stop this behavior but it's a bit more complicated than I'd ho

[2022-11-08 23:47] normj commented on #248
The code is in the pipeline for release, so unless something unusual happens the fix should be out within the next couple hours.

Only work around till then I can think of is if you pull 5.5.0 into a local folder and set the folder up as a NuGet feed. Then put a nuget.config file that only has the local feed.

[2022-11-09 01:21] normj commented on #248
Version 5.6.1 of Amazon.Lambda.Tools is out. Sorry again the regression and thanks for letting us know.

[2022-11-09 07:09] savva312 commented on #249
Hey @ashishdhingra thanks for replying so fast.

I have checked git and the last edit on the `.csproj` was done on 28th of February. Since then, I have built the project with SAM multiple times with no problems.

I also managed to build the project 3 days ago and just yesterday I started getting the error mentioned above.

Specifying the `--version` in the Dockerfile fixed it for now.

[2022-11-09 07:28] ashishdhingra commented on #249
@savva312 Thanks for your reply. Are you referring to `--version` for `Amazon.Lambda.Tools`? I would need to check what changed in the new version, May be an extra validation. Could you please share the contents of your `.csproj` file for further investigation?

Thanks,
Ashish

[2022-11-09 07:38] savva312 commented on #249
Sure here is my `csproj` file

[code]

This is my `Dockerfile`

[code]

And lastly am referring to `Amazon.Lambda.Tools` version

[2022-11-09 07:45] ashishdhingra commented on #249
@savva312 Thanks. Clearly, the value `netcoreapp6.0` is incorrect. The fix would be to change it to correct value `net60` in the `.csproj` file. I will try to check how it worked in the previous version `5.5.0` of `Amazon.Lambda.Tools`. Is it possible for you to capture and share the output of `dotnet lambda package --configuration Release` when ran inside Docker container using `Amazon.Lambda.Too

[2022-11-09 07:52] savva312 commented on #249
Sure, please see below, I hope this is what you are after

[code]

[2022-11-09 17:56] normj commented on #249
@savva312 It is true that version 5.6.0 of the Amazon.Lambda.Tools got some more validations logic on the target framework. This was done for some Native AOT .NET 7 support we added to the tooling. There are a lot of special case logic to make that work so we wanted to be sure we were giving users clear error messages when in an invalid situation.

As @ashishdhingra mentioned `net6.0` is the actua

[2022-11-09 18:30] savva312 commented on #249
@normj Thank you for the clarifications.

If I remember correctly i ended up using netcore6.0 because .net 6 was not supported back then or i had some issues. Don’t remember exactly.

There is no problem to switch to .net6.

thank you both for your time.

[2022-11-09 18:32] ashishdhingra commented on #249
@savva312 Thanks for your confirmation. Closing this issue.

[2022-11-10 07:39] normj commented on #248
Closing since the fix has been released.

[2022-11-10 07:39] #248 closed

[2022-11-17 16:53] ik130 commented on #178
Valid feature request, reopening

[2022-11-17 22:59] ashishdhingra opened #253 "Reevaluate the requirement of ZIP CLI"
### Describe the feature

This came up during discussion of https://github.com/aws/aws-extensions-for-dotnet-cli/issues/247.

We need to check if in later versions of .NET Core SDK(s), ZIP compression library maintains Linux file permissions. If yes, then we could remove dependency on ZIP CLI.

### Use Case

Refer https://github.com/aws/aws-extensions-for-dotnet-cli/issues/247

### Proposed Soluti

[2022-11-17 22:59] ashishdhingra commented on #247
Closing this in fvor of https://github.com/aws/aws-extensions-for-dotnet-cli/issues/253

[2022-11-17 22:59] #247 closed

[2022-11-20 22:02] Hammatt opened #254 "Can't package lambda for .NET 7 AOT from within a Docker Container"
### Describe the bug

Our CI build pipelines all run inside docker contains so that we can easily control versions of the toolkits that we are using.

It seems that the newest version of the Lambda build tookit tries to start up it's own docker container which doesn't seem to work very well when running already from within docker. This has worked great up until now, but the .NET 7 process seems to

[2022-11-21 22:09] ashishdhingra commented on #254
Hi @Hammatt,

Good afternoon.

Thanks for reporting the issue. The referenced [article/guide](https://aws.amazon.com/blogs/compute/building-serverless-net-applications-on-aws-lambda-using-net-7/) clearly mentions `Docker` as one of the prerequisites when using AWS .NET CLI Extensions tooling if compiling on a non-Amazon Linux 2 based machine. Correct me if I'm wrong, I guess you want to build dock

[2022-11-21 22:36] ashishdhingra commented on #254
@Hammatt Just for reference, the error is coming as a result of the logic [here](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/ceba1c22434bf4ac0b5b60f4158178e5f0858aaf/src/Amazon.Lambda.Tools/LambdaPackager.cs#L95). For Native AOT, there is a paragraph which mentions the requirement for Docker:
[code]

Hope this provides some insights on why Docket is required if compiling on non-AL2 b

[2022-11-22 00:04] Hammatt commented on #254
@ashishdhingra Does this mean that if we use the right docker image (an AL2 based one?) it wouldn't need access to Docker?

[2022-11-22 00:51] ashishdhingra commented on #254
@Hammatt Looking at the logic in the AWS .NET CLI Extensions tooling, this appears to be true. So you might give it a try and report issue, if any, here.

[2022-11-22 01:36] normj commented on #254
@Hammatt Adding configuration to @ashishdhingra statement if the CLI tooling detects it is running in an AL2 environment like an AL2 container then it won't try spin up a container. The tough part of the dev cycle of Native AOT is the .NET code needs to compiled on the same OS as where it will run so spinning up a container was our best option when packaging on a non-AL2 environment.

[2022-11-22 02:30] Hammatt commented on #254
Thanks, I've managed to build the lambda using the `public.ecr.aws/sam/build-dotnet7:latest-x86_64` image specified in this project 👍

We're looking at building some support into our CI pipelines to support this. To help understand the best way to implement this, is this going to be the only way to run .NET 7 lambda functions, or will we also see something like a `dotnet7` runtime available later

[2022-11-22 05:02] ashishdhingra commented on #254
@Hammatt Thanks for sharing your results. If no action is required from our side, please confirm if we could close this issue.

[2022-11-22 07:29] normj commented on #254
@Hammatt To your question on will there be a managed .NET 7 runtime, Lambda's policy is to only support LTS versions for managed runtimes. So for .NET 7 the options are to deploy as a self contained or native aot function to the the `provided.al2` runtime.

[2022-11-22 10:15] fracampit opened #255 "Skipped, error inspecting layer. Invalid Layer name"
### Describe the bug

I have the following layer versions:

[code]

When I run `dotnet lambda package --project-location $PROJECT_LOCATION  --function-layers $LAMBDA_LAYER_ARN  -o publish/$CI_PIPELINE_ID.zip`, where `$LAMBDA_LAYER_ARN` is either `arn:aws:lambda:eu-west-2:763336740511:layer:capabilities-assets:2` or `arn:aws:lambda:eu-west-2:763336740511:layer:capabilities-assets:1`, I get the foll

[2022-11-22 10:16] fracampit commented on #255
Please let me if you need more details about the issue.

[2022-11-22 17:52] ashishdhingra commented on #255
Hi @fracampit,

Good morning.

Thanks for reporting the issue. The error is possibly thrown during call to [IAmazonLambda.GetLayerVersionAsync()](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/ceba1c22434bf4ac0b5b60f4158178e5f0858aaf/src/Amazon.Lambda.Tools/LambdaUtilities.cs#L545). I suspect that the region determined in the environment where `dotnet lambda package` is being executed i

[2022-11-23 00:19] #254 closed

[2022-11-23 15:11] fracampit commented on #255
@ashishdhingra Thanks for the suggestion, that was it.

The script was running in an environment that had the AWS_DEFAULT_REGION set to eu-west-1.
I have added a script that extracts the region from the arn:
`region=$(echo "$arn" | cut -d':' -f4)`

Providing the region extracted from the arn explicitly fixed the issue.

[2022-11-23 15:11] #255 closed

[2022-11-29 21:23] jasonterando opened #256 "Unable to use dotnet lambda deploy-function in Linux for AOT"
### Describe the bug

When executing `dotnet lambda deploy-function`  in Linux as a non-root user, it executes Docker, which creates directories using the **root** account.  Subsequently the .zip command fails (outside of the Docker container) because the current user does not have write to the bin/Release folder, which was created by the Docker's root user.

As a workaround, I could install dotne